{ :review-expiration-min 900

  :new-review-check-cron "/60 * * * * * *"
  :expired-review-check-cron "0 0 /1 * * * *"
  :config-reload-cron "/5 * * * * * *"
  :failed-build-check-cron "/35 * * * * * *"
  :reminder-failed-build-cron "0 /30 * * * * *"
  :standup-cron "0 30 9 * * * *"
  :near-standup-cron "0 28 9 * * * *"

  :work-start [8 30] :work-end [18 00]

  :projects-to-track #{"CustomerDataServices" "EsbAdapterCommons" "EsbOracleStreamAdapter" "EsbO3gAdapter"
                       "EsbCdsAdapter" "EsbStreamIntegration" "DevOps" "CdsMapper" "EsbO3gStreamAdapter"
                       "EsbCdsStreamAdapter", "Public Web"}

  :gitlab-url "http://online-tooling.omnitel.lan/"
  :gitlab-token "rJt6dNGWJ29e9Nfbq2po"

  :jenkins-url "http://online-ci.omnitel.lan:8080/jenkins/"
  :jenkins-view-to-monitor "WATCHED-BUILDS"

  :google-tts-language "en"
  :google-tts-url "http://www.translate.google.com/translate_tts"

  :acapela-tts-url "http://vaas.acapela-group.com/Services/Synthesizer"
  :acapela-tts-usr "EVAL_3403566"
  :acapela-tts-psw "16d4vzu8"

  :tmp-dir "/tmp"

  :http-use-proxy true
  :http-proxy-host "janus.omnitel.lan"
  :http-proxy-port 8080

  :log-level :info
}
